<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is View Task Template</h1>
    <div>
        {% for task in tasks %}
            {% if not task.details.priority == "L" %}
                <h3>{{task}}</h3>
                <h3>{{task.details.priority}}</h3>

                <p>------------------------------------------</p>
            {% endif %}
            
            
        {% endfor %}
    </div>
</body>
</html>