<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is View Task Template</h1>
    <h1>{{countTask.num_count}}</h1>
    <div>
        {% for project in projects %}
            <h4>Project Id: {{project.id}}</h4>
            <p>{{project.name}}</p>
            <p>{{project.num_task}}</p>

            {% comment %} <p>{{project.allTask.all}}</p> {% endcomment %}
            
            {% comment %} <p>{{task.task.status}}</p> {% endcomment %}
            
            {% comment %} <p>{{task.status}}</p> {% endcomment %}
            {% comment %} <p>{{task.task.status}}</p>
            <p>{{task.priority}}</p> {% endcomment %}
            <p>----------------------------------</p>
        {% endfor %}
    </div>
</body>
</html>